In [4]:
import pandas as pd
import os

In [6]:
folder_path = '/Users/got/Documents/retune/t+im/concert_data'
file_paths = [os.path.join(folder_path,f) for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]

In [12]:
li = []

for filename in file_paths:
    if '.DS_Store' in filename : continue 
    df = pd.read_csv(filename)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [14]:
df

,title,location,startdate,enddate,vendor
0,Monet and Friends Alive Bangkok,"Attraction Hall, 6th Floor, ICONSIAM",2023-09-22,2023-01-07,Ticketmelon
1,People Fest '23 Countdown Concert Zeal x Klear,PEOPLE FEST,2023-10-22,2023-12-31,The Concert
2,ZEENUNEW 1st CONCERT ANOTHER LIFE | DVD BOXSET,Photobook Delivery,2023-10-31,2023-12-01,Ticketmelon
3,Enchanted Flora Park,Flora Park,2023-11-01,NaN,Ticketmelon
4,BEACH CLUB CULTURE November Weekends at Alexa ...,Alexa Beach Club Pattaya,2023-11-04,2023-11-26,Ticketmelon
...,...,...,...,...,...
1042,Splash Pool Party,‡∏™‡∏ß‡∏ô‡∏ô‡πâ‡∏≥ The Mall Korat,2024-04-13,2024-04-16,Ticketmelon
1043,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏ö‡∏∏‡∏£‡∏µ‡∏£‡∏±‡∏°‡∏¢‡πå,‡∏™‡∏ô‡∏≤‡∏°‡∏ä‡πâ‡∏≤‡∏á‡∏≠‡∏≤‡∏£‡∏µ‡∏ô‡πà‡∏≤,2024-04-27,2024-04-27,Ticketmelon
1044,PONG 47 ‡∏õ‡∏µ Rock Never Dies,IMPACT ARENA ‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ó‡∏≠‡∏á‡∏ò‡∏≤‡∏ô‡∏µ,2024-04-27,2024-04-27,Ticketmelon
1045,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏Ñ‡πâ‡∏≤‡∏™‡πà‡∏á‡∏≠‡∏π‡πâ‡∏ü‡∏π‡πà,2024-05-11,2024-05-11,Ticketmelon
1046,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø,‡∏•‡∏≤‡∏ô‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏ô‡∏≤ 2,2024-05-19,2024-05-19,Ticketmelon

In [18]:
import re
import unicodedata

In [20]:
df['alphabet_title'] = df['title'].apply(lambda x: ''.join(char for char in x if char.isalpha()))

title
 ER    3
 HO    3
 Si    1
"40    2
"Ba    1
      ..
„ÄêSh    2
ùîñha    3
üåü M    2
üåü‚ú®     1
üïâÔ∏èL    1
Length: 449, dtype: int64

In [25]:
same_title_count = df.groupby(df['alphabet_title'].str[0:3]).size().reset_index(name='count')
same_title_count

    alphabet_title  count
0              ADD      1
1              ADa      1
2              AGT      1
3              AMN      1
4              ANG      1
..             ...    ...
441            ‡πÅ‡∏´‡∏•      2
442            ‡πÇ‡∏ã‡∏ô      2
443            ‡πÇ‡∏ü‡∏•      3
444            ‡πÑ‡∏ó‡∏¢      2
445            ùîñha      3

[446 rows x 2 columns]

In [27]:
same_title_count[same_title_count['count'] > 1]

    alphabet_title  count
7              ARP      4
10             Aft      2
11             Agi      2
13             AnE      3
14             Ani      2
..             ...    ...
441            ‡πÅ‡∏´‡∏•      2
442            ‡πÇ‡∏ã‡∏ô      2
443            ‡πÇ‡∏ü‡∏•      3
444            ‡πÑ‡∏ó‡∏¢      2
445            ùîñha      3

[247 rows x 2 columns]

In [31]:
df.dtypes

title             object
location          object
startdate         object
enddate           object
vendor            object
alphabet_title    object
dtype: object

In [32]:
df['startdate'] = pd.to_datetime(df['startdate'])
df['enddate'] = pd.to_datetime(df['enddate'])

In [35]:
df['firstthree'] = df['firstthree'].apply(lambda x : x.lower())
df

,title,location,startdate,enddate,vendor,alphabet_title,firstthree
0,Monet and Friends Alive Bangkok,"Attraction Hall, 6th Floor, ICONSIAM",2023-09-22,2023-01-07,Ticketmelon,MonetandFriendsAliveBangkok,mon
1,People Fest '23 Countdown Concert Zeal x Klear,PEOPLE FEST,2023-10-22,2023-12-31,The Concert,PeopleFestCountdownConcertZealxKlear,peo
2,ZEENUNEW 1st CONCERT ANOTHER LIFE | DVD BOXSET,Photobook Delivery,2023-10-31,2023-12-01,Ticketmelon,ZEENUNEWstCONCERTANOTHERLIFEDVDBOXSET,zee
3,Enchanted Flora Park,Flora Park,2023-11-01,NaT,Ticketmelon,EnchantedFloraPark,enc
4,BEACH CLUB CULTURE November Weekends at Alexa ...,Alexa Beach Club Pattaya,2023-11-04,2023-11-26,Ticketmelon,BEACHCLUBCULTURENovemberWeekendsatAlexaBeachClub,bea
...,...,...,...,...,...,...,...
1042,Splash Pool Party,‡∏™‡∏ß‡∏ô‡∏ô‡πâ‡∏≥ The Mall Korat,2024-04-13,2024-04-16,Ticketmelon,SplashPoolParty,spl
1043,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏ö‡∏∏‡∏£‡∏µ‡∏£‡∏±‡∏°‡∏¢‡πå,‡∏™‡∏ô‡∏≤‡∏°‡∏ä‡πâ‡∏≤‡∏á‡∏≠‡∏≤‡∏£‡∏µ‡∏ô‡πà‡∏≤,2024-04-27,2024-04-27,Ticketmelon,‡πÄ‡∏ü‡∏¢‡∏ß‡∏ï‡∏ß‡∏•‡∏ö‡∏£‡∏£‡∏°‡∏¢,‡πÄ‡∏ü‡∏¢
1044,PONG 47 ‡∏õ‡∏µ Rock Never Dies,IMPACT ARENA ‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ó‡∏≠‡∏á‡∏ò‡∏≤‡∏ô‡∏µ,2024-04-27,2024-04-27,Ticketmelon,PONG‡∏õRockNeverDies,pon
1045,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏Ñ‡πâ‡∏≤‡∏™‡πà‡∏á‡∏≠‡∏π‡πâ‡∏ü‡∏π‡πà,2024-05-11,2024-05-11,Ticketmelon,‡πÄ‡∏ü‡∏¢‡∏ß‡∏ï‡∏ß‡∏•‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡∏ô,‡πÄ‡∏ü‡∏¢
1046,‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø,‡∏•‡∏≤‡∏ô‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏ô‡∏≤ 2,2024-05-19,2024-05-19,Ticketmelon,‡πÄ‡∏ü‡∏¢‡∏ß‡∏ï‡∏ß‡∏•‡∏Å‡∏£‡∏á‡πÄ‡∏ó‡∏û‡∏Ø,‡πÄ‡∏ü‡∏¢

In [71]:
df = df.drop_duplicates(subset=['title', 'alphabet_title'])
df.shape

(664, 7)

In [95]:
grouped = df.groupby([df['firstthree'], df['startdate'].dt.to_period('2M')])
grouped_count = grouped.size()
print(grouped_count>2)

firstthree  startdate
abs         2023-10      False
ada         2023-09      False
add         2024-03      False
aft         2024-02      False
agi         2023-12      False
                         ...
‡πÅ‡∏´‡∏•         2023-11      False
‡πÇ‡∏ã‡∏ô         2023-10      False
‡πÇ‡∏ü‡∏•         2024-02      False
‡πÑ‡∏ó‡∏¢         2023-10      False
ùîñha         2024-01      False
Length: 536, dtype: bool

In [96]:
filtered_groups = grouped_count[grouped_count>1]
print(filtered_groups.shape)
for group_name in filtered_groups.index:
    print(group_name)

(69,)
('ane', Period('2024-02', '2M'))
('arp', Period('2023-10', '2M'))
('ban', Period('2023-11', '2M'))
('bea', Period('2023-11', '2M'))
('bea', Period('2024-01', '2M'))
('blu', Period('2023-09', '2M'))
('blu', Period('2023-10', '2M'))
('blu', Period('2023-11', '2M'))
('blu', Period('2023-12', '2M'))
('blu', Period('2024-01', '2M'))
('bud', Period('2023-09', '2M'))
('bud', Period('2023-11', '2M'))
('cha', Period('2023-10', '2M'))
('chr', Period('2023-12', '2M'))
('com', Period('2023-12', '2M'))
('com', Period('2024-01', '2M'))
('edm', Period('2023-12', '2M'))
('enc', Period('2024-01', '2M'))
('fes', Period('2023-12', '2M'))
('goo', Period('2023-12', '2M'))
('har', Period('2023-12', '2M'))
('har', Period('2024-01', '2M'))
('jun', Period('2023-11', '2M'))
('kun', Period('2024-01', '2M'))
('lan', Period('2023-12', '2M'))
('lan', Period('2024-01', '2M'))
('leo', Period('2023-11', '2M'))
('les', Period('2023-10', '2M'))
('liv', Period('2023-09', '2M'))
('liv', Period('2023-11', '2M'))
('lon', Period('2023-10', '2M'))
('lon', Period('2023-12', '2M'))
('mad', Period('2023-11', '2M'))
('man', Period('2023-11', '2M'))
('mon', Period('2023-09', '2M'))
('moo', Period('2023-12', '2M'))
('mus', Period('2023-10', '2M'))
('mus', Period('2023-11', '2M'))
('nov', Period('2023-11', '2M'))
('nye', Period('2023-12', '2M'))
('pru', Period('2023-10', '2M'))
('psy', Period('2023-12', '2M'))
('red', Period('2023-10', '2M'))
('ret', Period('2024-01', '2M'))
('rio', Period('2023-12', '2M'))
('sel', Period('2024-01', '2M'))
('sen', Period('2024-02', '2M'))
('sia', Period('2023-12', '2M'))
('sin', Period('2023-12', '2M'))
('sou', Period('2023-12', '2M'))
('sta', Period('2023-12', '2M'))
('the', Period('2023-09', '2M'))
('the', Period('2023-10', '2M'))
('the', Period('2023-11', '2M'))
('the', Period('2023-12', '2M'))
('the', Period('2024-01', '2M'))
('the', Period('2024-02', '2M'))
('unk', Period('2024-01', '2M'))
('unk', Period('2024-02', '2M'))
('won', Period('2023-12', '2M'))
('zee', Period('2023-10', '2M'))
('‡∏Ñ‡∏≠‡∏ô', Period('2023-10', '2M'))
('‡∏Ñ‡∏≠‡∏ô', Period('2023-12', '2M'))
('‡∏ã‡∏ï‡∏™', Period('2024-02', '2M'))
('‡πÄ‡∏ü‡∏¢', Period('2024-01', '2M'))
('‡πÄ‡∏ü‡∏¢', Period('2024-02', '2M'))
('‡πÄ‡∏ü‡∏¢', Period('2024-03', '2M'))
('‡πÄ‡∏ü‡∏¢', Period('2024-05', '2M'))
('ùîñha', Period('2024-01', '2M'))

In [97]:
filtered_groups

firstthree  startdate
ane         2024-02      2
arp         2023-10      4
ban         2023-11      2
bea         2023-11      2
            2024-01      2
                        ..
‡πÄ‡∏ü‡∏¢         2024-01      3
            2024-02      2
            2024-03      3
            2024-05      2
ùîñha         2024-01      2
Length: 69, dtype: int64

In [98]:
for group_name in filtered_groups.index:
    firstthree, startdate = group_name
    group_df = df[(df['firstthree'] == firstthree) & (df['startdate'].dt.to_period('2M') == startdate)]
    titles = group_df['title'].tolist()
    print(f"Group: {group_name}, Titles: {titles}")

Group: ('ane', Period('2024-02', '2M')), Titles: ['An Evening With James Bond 007', 'An Evening With James Bond -- 007']
Group: ('arp', Period('2023-10', '2M')), Titles: ['ARP Fan Meeting in Thailand Game Show 2023 (DACAPO)', 'ARP Fan Meeting in Thailand Game Show 2023 (SCHNEIDER)', 'ARP Fan Meeting in Thailand Game Show 2023 (BAABEL)', 'ARP Fan Meeting in Thailand Game Show 2023 Vtuber ARP']
Group: ('ban', Period('2023-11', '2M')), Titles: ['Bangkok Bar Show', 'Bangkok Station: Seven years of photography from Hualamphong']
Group: ('bea', Period('2023-11', '2M')), Titles: ['BEACH CLUB CULTURE November Weekends at Alexa Beach Club', 'BEAMCUBE Invites Shuya Okino ']
Group: ('bea', Period('2024-01', '2M')), Titles: ['BEATFOREST 2024', 'BEAMCUBE Soft Launch with Paula Tape']
Group: ('blu', Period('2023-09', '2M')), Titles: ['Blueprint Livehouse: The Mushy + sameplace + Maliwan', 'Blueprint Livehouse: 242 + GOODMORNING + A lyrnn', 'Blueprint Livehouse: SHERRY + ROCKETMAN', 'Blueprint Livehouse: GUZT + URWORLD']
Group: ('blu', Period('2023-10', '2M')), Titles: ['Blueprint Livehouse: The Biirthday Party + Fanfoldpaper', 'Blueprint Livehouse: JIPI + Behind the Smile', 'Blueprint Livehouse: MASS OF THE FERMENTING DREGS Live in BKK', 'Blueprint Livehouse: _LESS + FORD TRIO', 'Blueprint Livehouse: FOLK9 + SOFT PINE', 'Blueprint Livehouse: SOLE + Summer Dress', 'Blueprint Livehouse: Motifs üá∏üá¨ + Death of Heather + Telever', 'Blueprint Livehouse: Door Plant + Chucky Factory Land + But Hate Panic']
Group: ('blu', Period('2023-11', '2M')), Titles: ['Blueprint Livehouse: Deer Mx üá≠üá∞ + Dogwhine + LEPYUTIN', 'Blueprint Livehouse: Penguin Villa (Acoustic Set) + Summer Stop', 'Blueprint Livehouse: Hinano + Cheyada + For Who High', 'Blueprint Livehouse: NSL + YEEET + Heartbreak Kids', 'Blueprint Livehouse: Reality Club Live in BKK', 'Blueprint Livehouse: KIKI + VINI', 'Blueprint Livehouse: Youth Brush + Bellythebear', 'Blueprint Livehouse: MINH üáªüá≥ + V≈® THANH V√ÇN üáªüá≥ + THINH SUY üáªüá≥ + Daniel Ryn']
Group: ('blu', Period('2023-12', '2M')), Titles: ['Blueprint Livehouse: TOFU + BITTERSWEET', 'Blueprint Livehouse: VaxMenn + Jesse Mek', 'Blueprint Livehouse: Petit Desk + Delicious Grapefruits Moon üáØüáµ + CORNBOI', 'Blueprint Livehouse: INSPIRATIVE', 'Blueprint Livehouse: Move Along + The Kyle + Da So Toi üáªüá≥ + 8teen 8teen üáªüá≥', 'Blueprint Livehouse: Solitude is Bliss', 'Blueprint Livehouse: Solitude is Bliss (2nd Show)', 'Blueprint Livehouse: Slur + The Jukks', 'Blueprint Livehouse: Summer Dress + Hariguem Zaboy', 'Blueprint Livehouse: SEKI + The Octopuss*']
Group: ('blu', Period('2024-01', '2M')), Titles: ['Blueprint Livehouse: Dept', 'Blueprint Livehouse: Lostbeans + Surff', 'Blueprint Livehouse: SeventhSyndrome', 'Blueprint Livehouse: Outside The Window + Barber Dead + MANA‚Äô', 'Blueprint Livehouse: Uncle Ben + Ewery', 'Blueprint Livehouse: Soft Pine + Chucky Factory Land', 'Blueprint Livehouse: The Jukks + Common People Like You + Telellama', 'Blueprint Livehouse: The Reasonabilists + pOd + A lyrnn']
Group: ('bud', Period('2023-09', '2M')), Titles: ['BUD LIVEHOUSE - SEP 2023', "BUD LIVEHOUSE SPECIAL: 2 DAYS AGO KIDS '‡∏Å‡∏•‡∏±‡∏ö‡∏°‡∏≤‡∏™‡∏¢‡∏≤‡∏°‡∏™‡πÅ‡∏Ñ‡∏ß‡∏£‡πå'"]
Group: ('bud', Period('2023-11', '2M')), Titles: ['BUD LIVEHOUSE : NOV 2023', 'BUD LIVEHOUSE SPECIAL : WANYAi  ‚ÄúUntold Story ‡∏ô‡∏¥‡∏¢‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏â‡∏±‡∏ô‚Äù üìñ']
Group: ('cha', Period('2023-10', '2M')), Titles: ['Charlie Puth Presents The "Charlie" Live Experience', 'CHANG MUSIC CONNECTION PRESENTS FATCAT ‡∏Ñ‡∏≠‡∏ô‡πÄ‡∏™‡∏¥‡∏£‡πå‡∏ï‡∏ß‡∏±‡∏ô‡∏ô‡∏±‡πâ‡∏ô‡πÉ‡∏ô‡πÅ‡∏ö‡∏ö‡∏ß‡∏±‡∏ô‡∏ô‡∏µ‡πâ']
Group: ('chr', Period('2023-12', '2M')), Titles: ['Christmas Big Sing with BMS', 'Christmas Big Sing with BMS #2', 'CHRISTINA Q CONCERT']
Group: ('com', Period('2023-12', '2M')), Titles: ['Commune Room Ep.01', 'comm//unity Sonic Xmas Eve']
Group: ('com', Period('2024-01', '2M')), Titles: ["COME BACK ANYTIME Screening at theCOMMONS' Sunset Film Club", 'COMBUST (NYHC) Live in Bangkok 28.01.2024', 'COM‚ÄôZ ‚ÄúTHE LSYG EXPLORER‚Äù WORLD TOUR']
Group: ('edm', Period('2023-12', '2M')), Titles: ['EDM Addicts Take Over EP19 Presents Wiwek At Spaceplus Bangkok', "EDM Addicts Take Over Presents Differ Club's 19th Anniversary with Wiwek"]
Group: ('enc', Period('2024-01', '2M')), Titles: ['Enchanted VIP ', 'ENCHANTED VIP presents üèÅ NO LIMITS üèÅ DIFFER MAIN STAGE']
Group: ('fes', Period('2023-12', '2M')), Titles: ['808 Festival 2023 - GA AND VIP STANDING\xa0TICKETS', '808 Festival 2023 - VVIP Table Packages', '808 Festival 2023 - 1 DAY TICKET ']
Group: ('goo', Period('2023-12', '2M')), Titles: ['GOOD MOOD', 'GOODHOOD VOLUME 04']
Group: ('har', Period('2023-12', '2M')), Titles: ['HARU NEMURI Live in Bangkok 2023', 'Harvest Moon Music Camp #3']
Group: ('har', Period('2024-01', '2M')), Titles: ['HARD TECHNO RAVE', "HARRY POTTER AND THE SORCERER'S STONE Screening at theCOMMONS' Sunset Film Club"]
Group: ('jun', Period('2023-11', '2M')), Titles: ['2023 JUNG YONG HWA LIVE IN BANGKOK', 'JUNNY Live in Bangkok']
Group: ('kun', Period('2024-01', '2M')), Titles: ['KUNSTLER : The Public 26-28 JAN 24', 'KUNSTLER : The Public 26 JAN 24', 'KUNSTLER : The Public 27 JAN 24']
Group: ('lan', Period('2023-12', '2M')), Titles: ['Landokmai X Mitr me', 'Land of music 2023']
Group: ('lan', Period('2024-01', '2M')), Titles: ['üïâÔ∏èLand of PSY, Bangkok, POOL PARTY, Hotel Clover üóì Sat.13th January', 'LAN DOK MAI ‡∏ì ‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ô‡∏ö‡∏≤‡∏á‡πÅ‡∏™‡∏ô']
Group: ('leo', Period('2023-11', '2M')), Titles: ['LEO PRESENT ZEAL | INDIGO  @ GasolineSrinakarin', 'LEO presents Cat eXpo']
Group: ('les', Period('2023-10', '2M')), Titles: ['Lessons from the Nong Bua Lamphu massacre one year on', "2023 LE SSERAFIM TOUR ‚ÄòFLAME RISES' IN BANGKOK"]
Group: ('liv', Period('2023-09', '2M')), Titles: ['(Livestreaming) 2023 KIM JAE HAN & SHIN YE CHAN FAN MEETING IN BANGKOK', '[LIVE STREAMING] ZeeNuNew 1st Concert | Another Life Presented by Lazada (DAY 1)']
Group: ('liv', Period('2023-11', '2M')), Titles: ['[LIVE STREAMING]  ANKNOWNA The Unexpected Experiment ( DAY 2)', '(Livestreaming) The New Chapter of BASCOP', '[LIVE STREAMING] : Billkin Tempo Concert Presented by Lazada', '[Live Streaming] I‚Äôm Fluke : One Moment in Time 1st Fan Meeting']
Group: ('lon', Period('2023-10', '2M')), Titles: ['Lonelipop Music Festival', 'Lonelipop Music Festival Presented by Pazan Music Festival x Seen Scene Space']
Group: ('lon', Period('2023-12', '2M')), Titles: ['Longlay Beach Life Festival 2023', 'Longlay Beach Life Festival #4']
Group: ('mad', Period('2023-11', '2M')), Titles: ['MADCRUISE ', 'MADZ Music Festival']
Group: ('man', Period('2023-11', '2M')), Titles: ['ManiPopCon 2023', 'ManiPopCon 2023: After Dark Music Fest']
Group: ('mon', Period('2023-09', '2M')), Titles: ['Monet and Friends Alive Bangkok', 'Monthly Refugee Dinner: The Flavors of Ethiopia ']
Group: ('moo', Period('2023-12', '2M')), Titles: ["Moon Mountain X'mas Edition 2023", "Moon Mountain X'mas 2023"]
Group: ('mus', Period('2023-10', '2M')), Titles: ['MUSIC IN THE GARDEN', 'Music @ Mahidol Brass & Percussion Concert by Hong Kong Philharmonic Orchestra x Thailand Philharmonic\xa0Orchestra']
Group: ('mus', Period('2023-11', '2M')), Titles: ['Music @ Mahidol', '304 Music Festival']
Group: ('nov', Period('2023-11', '2M')), Titles: ['(2 Novemeber 23) Q Suveera : Pure Imagination Concert', '(9 Novemeber 23) Q Suveera : Pure Imagination Concert', '(12 Novemeber 23) Q Suveera : Pure Imagination Concert']
Group: ('nye', Period('2023-12', '2M')), Titles: ['NYE GALA 2024 ON THE BEACH at Alexa Beach Club ', 'NYE GALA 2024 ON THE BEACH at Alexa Beach Club Pattaya', 'NYE at BEAMCUBE with Eddie Leader']
Group: ('pru', Period('2023-10', '2M')), Titles: ['Prune Deer Asia Tour 2023 LIVE IN Bangkok', '„ÄêPrune Deer Asia Tour 2023 LIVE IN ChiangMai„Äë ']
Group: ('psy', Period('2023-12', '2M')), Titles: ['PSYCHIC FEVER LIVE 2023 "P.C.F" IN THAILAND', 'PSYCHIC FEVER FAN EVENT 2023 IN THAILAND ~PsyFe Christmas Night~']
Group: ('red', Period('2023-10', '2M')), Titles: ['R.E.D. Chapter1', 'RedLife presents No.704 AUTTA The 1st Concert']
Group: ('ret', Period('2024-01', '2M')), Titles: ['Retox Sessions Presents James Hype At Onyx ', 'Retox Sessions Presents Joseph Capriati ']
Group: ('rio', Period('2023-12', '2M')), Titles: ['RIOTNOX I The New Gate', 'RIOTNOX WHITE CHRISTMAS ']
Group: ('sel', Period('2024-01', '2M')), Titles: ['Selina & Sirinya Live in Bangkok 2024 ', 'Selina and Sirinya at 12 Plato Bangna']
Group: ('sen', Period('2024-02', '2M')), Titles: ['SENSE Psychedelic Gathering 2024', 'SENSE Psychedelic Gathering tent renting ']
Group: ('sia', Period('2023-12', '2M')), Titles: ['Siam Sinfonietta‚Äôs Holiday Concert', 'SIAM INFERNO METALFEST 2023']
Group: ('sin', Period('2023-12', '2M')), Titles: ['Singto Exclusive Vacation & Fanmeeting with Samoonjaopa', 'Singha Corporation presents ZEAL Camp Over 2 ‡∏ó‡∏¥‡πâ‡∏á‡∏ï‡∏±‡∏ß With Your Friends']
Group: ('sou', Period('2023-12', '2M')), Titles: ['SoundAbout Mountain Fest', 'Sound a Brit #6 ( Tribute night ) Part : The New Waves']
Group: ('sta', Period('2023-12', '2M')), Titles: ['STAR FOR YOU MEETING CONCERT', 'Stand-up Comedy ‚Äú The Boy ‚Äú By Katanyu Swangsri']
Group: ('the', Period('2023-09', '2M')), Titles: ['The Landing #003', 'The Gentlemans ‡∏ì ‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ô‡∏ö‡∏≤‡∏á‡πÅ‡∏™‡∏ô', 'The Concert Application Presents ‚ÄúEMERGE : Upcoming Sounds ‡∏Ñ‡∏£‡∏±‡πâ‡∏á‡∏ó‡∏µ‡πà 1‚Äù']
Group: ('the', Period('2023-10', '2M')), Titles: ['THE CAYENNE PEPPERS PARTY 7', 'THE STELLA ARTOIS presents The Parkinson Heal Soul Concert (‡∏£‡∏≠‡∏ö‡∏ö‡πà‡∏≤‡∏¢)', 'THE STELLA ARTOIS presents The Parkinson Heal Soul Concert', 'The Concert presents 4 Queens Concert', 'THE KRIST ELEMENTS CONCERT']
Group: ('the', Period('2023-11', '2M')), Titles: ['The Yers live at Come Again Cafe & Restaurant', 'The Art of Mixology...with a Thai Twist', 'The New Chapter of BASCOP ', 'The Concert Application Presents Peck Aof Ice InFriendnity Concert', 'The Noname Live in Overstay', 'THE MILLI SHOW LIVE IN BANGKOK', 'THE TOILET PARTY : ‡∏•‡∏π‡∏Å‡∏ó‡∏∏‡πà‡∏á‡πÄ‡∏ï‡πá‡∏°‡∏î‡∏ß‡∏á  ‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏ß‡∏±‡∏ô‡πÄ‡∏û‡πá‡∏ç ‡∏Å‡πá‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡πÄ‡∏ï‡πâ‡∏ô‡πÉ‡∏´‡πâ‡∏ô‡πâ‡∏≥‡∏ô‡∏≠‡∏á', 'THE NEXT HYPE CONCERT POWERED BY SPACEPLUS BANGKOK', 'The Concert Application presents Ben Chalatit ALL FOR LOVE Immersive Concert']
Group: ('the', Period('2023-12', '2M')), Titles: ["The Backyard 168: Back to the 90's Campfire Party", 'The Concert Presents TesttKub One is 2 many', 'THE RAMPAGE FAN EVENT IN THAILAND', 'The Melody To You', 'The Concert TEST', 'The Landing NYE Special']
Group: ('the', Period('2024-01', '2M')), Titles: ['THE 33RD  SEOUL MUSIC AWARDS IN BANGKOK', 'The Concert Nightlife presents 1Mill x FIIXD x DJ TdoubleE at WHITE NOISE', 'The Real Hip-Hop Show With DJ DO 12 JAN 2024', 'The Concert Present ‡∏•‡∏≤‡∏ö‡∏Å‡∏£‡∏∏‡∏á‡∏Ñ‡∏≠‡∏ô‡∏™‡∏î x JINTA', 'The Journey of Kati‚Äôs Happiness 20 ‡∏õ‡∏µ ‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∏‡∏Ç‡πÑ‡∏°‡πà‡∏£‡∏π‡πâ‡∏à‡∏ö']
Group: ('the', Period('2024-02', '2M')), Titles: ['THE MODERN NOSTALGIA TOUR : LIVE IN BANGKOK', 'The Poison Love : ‡∏Å‡∏∏‡∏´‡∏•‡∏≤‡∏ö‡∏Å‡∏≤‡∏•‡∏µ']
Group: ('unk', Period('2024-01', '2M')), Titles: ['Unkonscious Boat Party 2024', 'UnKonscious Festival 2024']
Group: ('unk', Period('2024-02', '2M')), Titles: ['UNK Presents KNOCK OUT FESTIVAL', 'UnKonscious Knock Out']
Group: ('won', Period('2023-12', '2M')), Titles: ['Wonderfruit 2023 x Polygon', 'Wonderfruit 2023']
Group: ('zee', Period('2023-10', '2M')), Titles: ['ZEENUNEW 1st CONCERT ANOTHER LIFE | DVD BOXSET', 'ZeeNuNew 1st Concert | Another Life Presented by Lazada (DAY 2)']
Group: ('‡∏Ñ‡∏≠‡∏ô', Period('2023-10', '2M')), Titles: ['‡∏Ñ‡∏≠‡∏ô‡πÄ‡∏™‡∏¥‡∏£‡πå‡∏ï ‡∏à‡∏¥‡πã‡∏ß‡πÅ‡∏ï‡πà‡πÅ‡∏à‡πã‡∏ß(‡∏Ñ‡∏£‡∏π‡∏™‡∏á‡πà‡∏≤ ‡∏≠‡∏≤‡∏£‡∏±‡∏°‡∏†‡∏µ‡∏£ ‡∏®‡∏¥‡∏•‡∏õ‡∏¥‡∏ô‡πÅ‡∏´‡πà‡∏á‡∏ä‡∏≤‡∏ï‡∏¥&‡∏Ñ‡∏£‡∏π‡∏î‡∏¥‡πÄ‡∏£‡∏Å ‡πÄ‡∏Å‡∏®‡∏£‡∏µ‡∏£‡∏∞‡∏Ñ‡∏∏‡∏õ‡∏ï‡πå)', '‡∏Ñ‡∏≠‡∏ô‡πÄ‡∏™‡∏¥‡∏£‡πå‡∏ï‡∏ô‡∏±‡πà‡∏á‡πÉ‡∏Å‡∏•‡πâ The KLEAR HEART Acoustic Concert']
Group: ('‡∏Ñ‡∏≠‡∏ô', Period('2023-12', '2M')), Titles: ['‡∏Ñ‡∏≠‡∏ô‡πÄ‡∏™‡∏¥‡∏£‡πå‡∏ï‡∏Å‡∏≤‡∏£‡∏Å‡∏∏‡∏®‡∏• ONE COOL FIN ‡∏°‡∏±‡∏ô‡∏™‡πå', '‡∏Ñ‡∏≠‡∏ô‡πÄ‡∏™‡∏¥‡∏£‡πå‡∏ï‡∏Å‡∏≤‡∏£‡∏Å‡∏∏‡∏®‡∏• Happiness Together']
Group: ('‡∏ã‡∏ï‡∏™', Period('2024-02', '2M')), Titles: ['‡∏ã‡∏¥‡∏ï‡∏™‡∏ñ‡∏≤‡∏ô 3-4 FEB', '‡∏ã‡∏¥‡∏ï‡∏™‡∏ñ‡∏≤‡∏ô 3 FEB', '‡∏ã‡∏¥‡∏ï‡∏™‡∏ñ‡∏≤‡∏ô 4 FEB']
Group: ('‡πÄ‡∏ü‡∏¢', Period('2024-01', '2M')), Titles: ['‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡∏£‡∏≤‡∏¢', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• 2024', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ']
Group: ('‡πÄ‡∏ü‡∏¢', Period('2024-02', '2M')), Titles: ['‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏ô‡∏Ñ‡∏£‡∏£‡∏≤‡∏ä‡∏™‡∏µ‡∏°‡∏≤', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏™‡∏á‡∏Ç‡∏•‡∏≤']
Group: ('‡πÄ‡∏ü‡∏¢', Period('2024-03', '2M')), Titles: ['‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°']
Group: ('‡πÄ‡∏ü‡∏¢', Period('2024-05', '2M')), Titles: ['‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô', '‡πÄ‡∏ü‡∏µ‡πâ‡∏¢‡∏ß‡∏ï‡∏¥‡∏ß‡∏±‡∏• ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø']
Group: ('ùîñha', Period('2024-01', '2M')), Titles: ['ùîñhapeùîñhifter :LÕìÃΩCÕìÃΩLÕìÃΩ: NEMATOCYST', 'ùîñhapeùîñhifter :LÕìÃΩCÕìÃΩLÕìÃΩ: NEMATOCYST : FITNESSS']