In [3]:
import pandas as pd

In [4]:
file_path = '/Users/got/Documents/retune/t+im/dent/label.csv'

In [6]:
df = pd.read_csv(file_path)
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [22]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(10): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file

In [23]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(10):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'ถ', 'ึ', 'ง', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'm', 'e', 's', 'i', 'a', 'l', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'd', 'i', 's', 't', 'a', 'l', '#', 'd', 'i', 's', 't', 'a', 'l', '#', 'l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'ถ', 'ึ', 'ง']
l i n g u a l # b u c c a l # ถ ึ ง # b u c c a l # m e s i a l # b u c c a l # d i s t a l # d i s t a l # l i n g u a l # ถ ึ ง
Done! Check the output file

In [16]:
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [20]:
df.drop(columns=['File ID'], axis=1, inplace=True)

In [21]:
df

                                                  Label
0     missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1     missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2     missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3     crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4     crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                 ...
9732  distal buccal buccal distal buccal buccal ling...
9733  lingual buccal ถึง buccal mesial buccal distal...
9734  lingual buccal ถึง buccal mesial buccal distal...
9735  lingual buccal ถึง buccal mesial buccal distal...
9736  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 1 columns]