In [1]:
import pandas as pd

In [2]:
file_path = '/Users/got/Documents/retune/t+im/dent/label.csv'

In [19]:
df = pd.read_csv(file_path)
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [22]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(10): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file

In [23]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(10):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'ถ', 'ึ', 'ง', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'm', 'e', 's', 'i', 'a', 'l', '#', 'b', 'u', 'c', 'c', 'a', 'l', '#', 'd', 'i', 's', 't', 'a', 'l', '#', 'd', 'i', 's', 't', 'a', 'l', '#', 'l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'ถ', 'ึ', 'ง']
l i n g u a l # b u c c a l # ถ ึ ง # b u c c a l # m e s i a l # b u c c a l # d i s t a l # d i s t a l # l i n g u a l # ถ ึ ง
Done! Check the output file

In [20]:
labels = df['Label']

In [21]:
first = ['ห้า', 'หก', 'เจ็ด', 'แปด', 'bridge', 'crown', 'undo']
second = ['สอง', 'implant', 'lingual', 'probingdepth', 'pdre']

In [22]:
for word in first : 
    count = 0
    for label in labels :
        if word in label:
            count += 1
    print(f"{word} count : {count}")

ห้า count : 2259
หก count : 2058
เจ็ด count : 1806
แปด count : 1778
bridge count : 1728
crown count : 1978
undo count : 2400

In [23]:
for word in second : 
    count = 0
    for label in labels :
        if word in label:
            count += 1
    print(f"{word} count : {count}")

สอง count : 4591
implant count : 1984
lingual count : 3135
probingdepth count : 2347
pdre count : 2268

In [24]:
for word in first : 
    count = 0
    for label in labels :
        xs = label.split()
        for x in  xs:
            if x == word:
                count +=1
    print(f"{word} count : {count}")

ห้า count : 2533
หก count : 2416
เจ็ด count : 2122
แปด count : 2032
bridge count : 1732
crown count : 1978
undo count : 4122

In [25]:
for word in second : 
    count = 0
    for label in labels :
        xs = label.split()
        for x in  xs:
            if x == word:
                count +=1
    print(f"{word} count : {count}")

สอง count : 8717
implant count : 1984
lingual count : 4449
probingdepth count : 2347
pdre count : 2268

In [26]:
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [27]:
df.drop(columns=['File ID'], inplace=True)
df

                                                  Label
0     missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1     missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2     missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3     crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4     crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                 ...
9732  distal buccal buccal distal buccal buccal ling...
9733  lingual buccal ถึง buccal mesial buccal distal...
9734  lingual buccal ถึง buccal mesial buccal distal...
9735  lingual buccal ถึง buccal mesial buccal distal...
9736  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 1 columns]

In [28]:
print(first)
print(second)

['ห้า', 'หก', 'เจ็ด', 'แปด', 'bridge', 'crown', 'undo']
['สอง', 'implant', 'lingual', 'probingdepth', 'pdre']

In [29]:
numbers = ['ห้า', 'หก', 'เจ็ด', 'สอง']
commands = ['bridge', 'crown', 'undo', 'implant', 'lingual', 'probingdepth', 'pdre']

In [30]:
import random

In [31]:
#crown
for _ in range(2000) :
    label = 'crown '
    x = random.randint(3,6)
    for _ in range(x):
        number = random.choice(numbers)
        label += number + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                             Label
11732            crown ห้า ห้า หก
11733    crown หก ห้า ห้า สอง สอง
11734       crown หก เจ็ด หก เจ็ด
11735          crown ห้า เจ็ด ห้า
11736  crown เจ็ด เจ็ด สอง สอง หก

In [32]:
#bridge
for _ in range(2000) :
    label = 'bridge '
    for _ in range(2):
        number = random.choice(numbers)
        label += number + ' '
    label += 'ถึง '
    for _ in range(2):
        number = random.choice(numbers)
        label += number + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                               Label
13732  bridge เจ็ด เจ็ด ถึง ห้า สอง
13733    bridge ห้า สอง ถึง ห้า ห้า
13734   bridge เจ็ด สอง ถึง เจ็ด หก
13735     bridge ห้า เจ็ด ถึง หก หก
13736       bridge หก หก ถึง สอง หก

In [33]:
#bridge
for _ in range(2000) :
    label = 'undo'
    df.loc[len(df)] = {'Label' : label}
df.tail()

      Label
15732  undo
15733  undo
15734  undo
15735  undo
15736  undo

In [34]:
for _ in range(2000) :
    label = ''
    for _ in range(10):
        command = random.choice(commands)
        label += command + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                                                   Label
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

In [35]:
df.to_csv('/Users/got/Documents/retune/t+im/dent/label1.csv', index=False)

In [37]:
df = pd.read_csv('/Users/got/Documents/retune/t+im/dent/label1.csv')
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

[17737 rows x 1 columns]

In [38]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(8): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file

In [39]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(8):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['i', 'm', 'p', 'l', 'a', 'n', 't', '#', 'c', 'r', 'o', 'w', 'n', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'c', 'r', 'o', 'w', 'n', '#', 'l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'b', 'r', 'i', 'd', 'g', 'e', '#', 'c', 'r', 'o', 'w', 'n', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'p', 'd', 'r', 'e', '#']
i m p l a n t # c r o w n # p r o b i n g d e p t h # c r o w n # l i n g u a l # p r o b i n g d e p t h # b r i d g e # c r o w n # p r o b i n g d e p t h # p d r e #
Done! Check the output file

In [40]:
output = df 
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

[17737 rows x 1 columns]