In [53]:
import pandas as pd
import random

## old

In [46]:
file_path = '/Users/got/Documents/retune/t+im/dent/label2.csv'

In [47]:
df = pd.read_csv(file_path)
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
30732                แปด ศูนย์ หก ห้า ห้า เก้า เจ็ด เจ็ด
30733     หนึ่ง สาม หก สาม เก้า แปด สาม ห้า เจ็ด สอง แปด
30734               หนึ่ง เจ็ด หก แปด เจ็ด ศูนย์ หก เก้า
30735     แปด หก ห้า ห้า แปด เก้า ห้า หนึ่ง หก ศูนย์ แปด
30736       ศูนย์ แปด แปด เก้า แปด หก แปด ศูนย์ หนึ่ง หก

[30737 rows x 1 columns]

In [49]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(10): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file

In [50]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(10):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['ศ', 'ู', 'น', 'ย', '์', '#', 'แ', 'ป', 'ด', '#', 'แ', 'ป', 'ด', '#', 'เ', 'ก', '้', 'า', '#', 'แ', 'ป', 'ด', '#', 'ห', 'ก', '#', 'แ', 'ป', 'ด', '#', 'ศ', 'ู', 'น', 'ย', '์', '#', 'ห', 'น', 'ึ', '่', 'ง', '#', 'ห', 'ก']
ศ ู น ย ์ # แ ป ด # แ ป ด # เ ก ้ า # แ ป ด # ห ก # แ ป ด # ศ ู น ย ์ # ห น ึ ่ ง # ห ก
Done! Check the output file

# fisrt fix

In [20]:
labels = df['Label']

In [21]:
first = ['ห้า', 'หก', 'เจ็ด', 'แปด', 'bridge', 'crown', 'undo']
second = ['สอง', 'implant', 'lingual', 'probingdepth', 'pdre']

In [22]:
for word in first : 
    count = 0
    for label in labels :
        if word in label:
            count += 1
    print(f"{word} count : {count}")

ห้า count : 2259
หก count : 2058
เจ็ด count : 1806
แปด count : 1778
bridge count : 1728
crown count : 1978
undo count : 2400

In [23]:
for word in second : 
    count = 0
    for label in labels :
        if word in label:
            count += 1
    print(f"{word} count : {count}")

สอง count : 4591
implant count : 1984
lingual count : 3135
probingdepth count : 2347
pdre count : 2268

In [24]:
for word in first : 
    count = 0
    for label in labels :
        xs = label.split()
        for x in  xs:
            if x == word:
                count +=1
    print(f"{word} count : {count}")

ห้า count : 2533
หก count : 2416
เจ็ด count : 2122
แปด count : 2032
bridge count : 1732
crown count : 1978
undo count : 4122

In [25]:
for word in second : 
    count = 0
    for label in labels :
        xs = label.split()
        for x in  xs:
            if x == word:
                count +=1
    print(f"{word} count : {count}")

สอง count : 8717
implant count : 1984
lingual count : 4449
probingdepth count : 2347
pdre count : 2268

In [26]:
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [27]:
df.drop(columns=['File ID'], inplace=True)
df

                                                  Label
0     missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1     missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2     missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3     crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4     crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                 ...
9732  distal buccal buccal distal buccal buccal ling...
9733  lingual buccal ถึง buccal mesial buccal distal...
9734  lingual buccal ถึง buccal mesial buccal distal...
9735  lingual buccal ถึง buccal mesial buccal distal...
9736  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 1 columns]

In [28]:
print(first)
print(second)

['ห้า', 'หก', 'เจ็ด', 'แปด', 'bridge', 'crown', 'undo']
['สอง', 'implant', 'lingual', 'probingdepth', 'pdre']

In [29]:
numbers = ['ห้า', 'หก', 'เจ็ด', 'สอง']
commands = ['bridge', 'crown', 'undo', 'implant', 'lingual', 'probingdepth', 'pdre']

In [30]:
import random

In [31]:
#crown
for _ in range(2000) :
    label = 'crown '
    x = random.randint(3,6)
    for _ in range(x):
        number = random.choice(numbers)
        label += number + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                             Label
11732            crown ห้า ห้า หก
11733    crown หก ห้า ห้า สอง สอง
11734       crown หก เจ็ด หก เจ็ด
11735          crown ห้า เจ็ด ห้า
11736  crown เจ็ด เจ็ด สอง สอง หก

In [32]:
#bridge
for _ in range(2000) :
    label = 'bridge '
    for _ in range(2):
        number = random.choice(numbers)
        label += number + ' '
    label += 'ถึง '
    for _ in range(2):
        number = random.choice(numbers)
        label += number + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                               Label
13732  bridge เจ็ด เจ็ด ถึง ห้า สอง
13733    bridge ห้า สอง ถึง ห้า ห้า
13734   bridge เจ็ด สอง ถึง เจ็ด หก
13735     bridge ห้า เจ็ด ถึง หก หก
13736       bridge หก หก ถึง สอง หก

In [33]:
#bridge
for _ in range(2000) :
    label = 'undo'
    df.loc[len(df)] = {'Label' : label}
df.tail()

      Label
15732  undo
15733  undo
15734  undo
15735  undo
15736  undo

In [34]:
for _ in range(2000) :
    label = ''
    for _ in range(10):
        command = random.choice(commands)
        label += command + ' '
    df.loc[len(df)] = {'Label' : label}

df.tail()

                                                   Label
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

In [35]:
df.to_csv('/Users/got/Documents/retune/t+im/dent/label1.csv', index=False)

In [37]:
df = pd.read_csv('/Users/got/Documents/retune/t+im/dent/label1.csv')
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

[17737 rows x 1 columns]

In [38]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(8): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file

In [39]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(8):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['i', 'm', 'p', 'l', 'a', 'n', 't', '#', 'c', 'r', 'o', 'w', 'n', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'c', 'r', 'o', 'w', 'n', '#', 'l', 'i', 'n', 'g', 'u', 'a', 'l', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'b', 'r', 'i', 'd', 'g', 'e', '#', 'c', 'r', 'o', 'w', 'n', '#', 'p', 'r', 'o', 'b', 'i', 'n', 'g', 'd', 'e', 'p', 't', 'h', '#', 'p', 'd', 'r', 'e', '#']
i m p l a n t # c r o w n # p r o b i n g d e p t h # c r o w n # l i n g u a l # p r o b i n g d e p t h # b r i d g e # c r o w n # p r o b i n g d e p t h # p d r e #
Done! Check the output file

In [40]:
output = df 
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

[17737 rows x 1 columns]

# sec fix

good


implant, pdre, furcation, suppuration, mobility

0-4, buccal, mesial, distal, lingual

undo
x
5-9 

bad

In [30]:
df = pd.read_csv('/Users/got/Documents/retune/t+im/dent/label1.csv')
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
17732  undo pdre bridge crown undo probingdepth pdre ...
17733  pdre undo implant lingual probingdepth lingual...
17734  undo crown undo probingdepth probingdepth brid...
17735  bridge probingdepth bridge pdre undo undo brid...
17736  implant crown probingdepth crown lingual probi...

[17737 rows x 1 columns]

In [31]:
first = ['implant', 'pdre', 'furcation', 'suppuration', 'mobility']
second = ['ศูนย์' ,'หนึ่ง' ,'สอง', 'สาม', 'สี่', 'buccal', 'mesial', 'distal', 'lingual']
third = ['undo']
forth = ['ห้า' ,'หก' ,'เจ็ด', 'แปด', 'เก้า']

In [40]:
labels = df['Label']
labels

0        missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1        missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2        missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3        crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4        crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
                               ...
25732                สี่ สี่ distal สี่ สาม buccal distal
25733        ศูนย์ สี่ lingual lingual ศูนย์ ศูนย์ distal
25734                    ศูนย์ สาม buccal สาม สอง lingual
25735                   ศูนย์ ศูนย์ distal สอง สี่ mesial
25736          สาม ศูนย์ buccal distal ศูนย์ ศูนย์ buccal
Name: Label, Length: 25737, dtype: object

In [41]:
labels = df['Label']
labels

print('first')
for f in first:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('second')
for f in second:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('third')
for f in third:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('forth')
for f in forth:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')

first
implant count = 5204
pdre count = 5467
furcation count = 2722
suppuration count = 2760
mobility count = 2758
---------------
second
ศูนย์ count = 7386
หนึ่ง count = 12320
สอง count = 16225
สาม count = 11460
สี่ count = 8589
buccal count = 8826
mesial count = 8166
distal count = 8184
lingual count = 10985
---------------
third
undo count = 8902
---------------
forth
ห้า count = 8564
หก count = 8272
เจ็ด count = 8139
แปด count = 5407
เก้า count = 5079
---------------

In [34]:
print('first')
for f in first:
    count = 0
    for label in labels:
        if f in label:
            count += 1
    print(f'{f} row count = {count}')
print('---------------')
print('second')
for f in second:
    count = 0
    for label in labels:
        if f in label:
            count += 1
    print(f'{f} row count = {count}')
print('---------------')
print('third')
for f in third:
    count = 0
    for label in labels:
        if f in label:
            count += 1
    print(f'{f} row count = {count}')
print('---------------')
print('forth')
for f in forth:
    count = 0
    for label in labels:
        if f in label:
            count += 1
    print(f'{f} row count = {count}')
print('---------------')

first
implant row count = 3550
pdre row count = 3830
furcation row count = 1972
suppuration row count = 2010
mobility row count = 2008
---------------
second
ศูนย์ row count = 514
หนึ่ง row count = 4685
สอง row count = 7369
สาม row count = 4479
สี่ row count = 3293
buccal row count = 3272
mesial row count = 2812
distal row count = 2800
lingual row count = 4711
---------------
third
undo row count = 5957
---------------
forth
ห้า row count = 5119
หก row count = 4823
เจ็ด row count = 4595
แปด row count = 1778
เก้า row count = 98
---------------

In [35]:
#first
first_weight = [1,1,2,2,2]
forth_weight = [1,1,1,2,3]
total = sum(first_weight)
for i, command in enumerate(first) :
    for _ in range(int(first_weight[i]*(3000/total))) :
        label = command +' '
        x = random.randint(3,6)
        for _ in range(x):
            number = random.choices(forth, weights=forth_weight, k=1)[0]
            label += number + ' '
        df.loc[len(df)] = {'Label' : label}

df.tail()

                                   Label
20732              mobility หก แปด เก้า
20733            mobility เก้า เจ็ด ห้า
20734            mobility เก้า เก้า แปด
20735        mobility เก้า เก้า ห้า ห้า
20736  mobility หก ห้า เจ็ด หก แปด เก้า

In [36]:
#second
second_num = second[0:5]
second_com = second[5:10]
second_num_weight = [2,1,1,1,1]
for _ in range(5000) :
    label = ''
    for i in range(4):
        if i%2 == 0:
            number = random.choices(second_num, weights=second_num_weight, k=2)
            label += ' '.join(number) + ' '
        else :
            k = random.randint(1,2)
            command = random.choices(second_com, k=k)
            label += ' '.join(command) + ' '

    df.loc[len(df)] = {'Label' : label}
df.tail()

                                               Label
25732          สี่ สี่ distal สี่ สาม buccal distal
25733  ศูนย์ สี่ lingual lingual ศูนย์ ศูนย์ distal
25734              ศูนย์ สาม buccal สาม สอง lingual
25735             ศูนย์ ศูนย์ distal สอง สี่ mesial
25736    สาม ศูนย์ buccal distal ศูนย์ ศูนย์ buccal

In [42]:
numbers = ['ศูนย์' ,'หนึ่ง' ,'สอง', 'สาม', 'สี่', 'ห้า' ,'หก' ,'เจ็ด', 'แปด', 'เก้า']

In [43]:
#third & forth
forth_weight = [3,3,3,4,5]
number_weight = [3,1,1,1,1,3,3,3,5,5]
for _ in range(1000):
    df.loc[len(df)] = {'Label' : 'undo'}
for _ in range(2000):
    label = ''
    k = random.randint(0,4)
    number = random.choices(forth, weights=forth_weight, k=k)
    label += ' '.join(number) + ' '
    label += 'undo '
    k = random.randint(0,4)
    number = random.choices(forth, weights=forth_weight, k=k)
    label += ' '.join(number)
    df.loc[len(df)] = {'Label' : label}    
for _ in range(2000):
    label = ''
    k = random.randint(7,11)
    number = random.choices(numbers, weights=number_weight, k=k)
    label += ' '.join(number)
    df.loc[len(df)] = {'Label' : label}

In [44]:
df.tail(20)

                                                   Label
30717          ห้า สี่ ศูนย์ แปด ห้า เก้า ห้า หก หก เก้า
30718        เก้า แปด เจ็ด เก้า สี่ หก หก แปด ศูนย์ เก้า
30719        แปด เก้า หก แปด ศูนย์ สี่ แปด เก้า เก้า ห้า
30720                เก้า ศูนย์ เก้า หก หก แปด ห้า ศูนย์
30721        หก แปด ศูนย์ ศูนย์ ศูนย์ ห้า แปด หก แปด แปด
30722  ศูนย์ สอง ศูนย์ ศูนย์ หก ศูนย์ ศูนย์ เจ็ด แปด ...
30723                ห้า สาม ห้า เก้า เก้า ห้า เก้า เจ็ด
30724           หก เก้า ห้า เก้า ศูนย์ เจ็ด หก เก้า เก้า
30725   ศูนย์ หก สี่ เจ็ด เจ็ด แปด เก้า หก หก เจ็ด ศูนย์
30726            สาม ห้า ศูนย์ แปด แปด เก้า เก้า ห้า ห้า
30727  ศูนย์ เจ็ด หนึ่ง เจ็ด เก้า แปด เจ็ด เก้า เจ็ด ...
30728                 เก้า เก้า หก เจ็ด เจ็ด สี่ แปด แปด
30729       เก้า หนึ่ง ศูนย์ แปด สอง ศูนย์ ศูนย์ ห้า สี่
30730                 แปด สี่ เก้า หก เก้า แปด เจ็ด เก้า
30731           ห้า เก้า แปด แปด ห้า เก้า เก้า หนึ่ง แปด
30732                แปด ศูนย์ หก ห้า ห้า เก้า เจ็ด เจ็ด
30733     หนึ่ง สาม หก สาม เก้า แปด สาม ห้า เจ็ด สอง แปด
30734               หนึ่ง เจ็ด หก แปด เจ็ด ศูนย์ หก เก้า
30735     แปด หก ห้า ห้า แปด เก้า ห้า หนึ่ง หก ศูนย์ แปด
30736       ศูนย์ แปด แปด เก้า แปด หก แปด ศูนย์ หนึ่ง หก

In [45]:
df.to_csv('/Users/got/Documents/retune/t+im/dent/label2.csv', index=False)

# third fix

## char

add more numbers and undo

In [54]:
file_path = '/Users/got/Documents/retune/t+im/dent/label2.csv'

In [55]:
df = pd.read_csv(file_path)
df

                                                   Label
0      missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1      missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2      missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3      crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4      crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                  ...
30732                แปด ศูนย์ หก ห้า ห้า เก้า เจ็ด เจ็ด
30733     หนึ่ง สาม หก สาม เก้า แปด สาม ห้า เจ็ด สอง แปด
30734               หนึ่ง เจ็ด หก แปด เจ็ด ศูนย์ หก เก้า
30735     แปด หก ห้า ห้า แปด เก้า ห้า หนึ่ง หก ศูนย์ แปด
30736       ศูนย์ แปด แปด เก้า แปด หก แปด ศูนย์ หนึ่ง หก

[30737 rows x 1 columns]

In [58]:
numbers = ['ศูนย์' ,'หนึ่ง' ,'สอง', 'สาม', 'สี่', 'ห้า' ,'หก' ,'เจ็ด', 'แปด', 'เก้า']

In [60]:
add_list = []
for _ in range(3000):
    k = random.randint(6,10)
    random_number = random.choices(numbers, k=k)
    add_list.append(' '.join(random_number))
df2 = pd.DataFrame({'Label' : add_list})
df = pd.concat([df,df2], ignore_index=True)

In [62]:
output_file_path = '/Users/got/Documents/retune/t+im/dent/char-level-formatted.txt'
label_list = []
labels = df['Label']
label = ""
with  open(output_file_path, 'w') as file:
    for _ in range(15):
        for label in labels:
            label = label.replace(" ", "#")
            label_list = [char for char in label]
            label = " ".join(label_list)
            file.write(str(label) + "\n")
print(label_list)
print(label)
print("Done! Check the output file")

['ศ', 'ู', 'น', 'ย', '์', '#', 'แ', 'ป', 'ด', '#', 'ห', 'น', 'ึ', '่', 'ง', '#', 'แ', 'ป', 'ด', '#', 'ส', 'ี', '่', '#', 'แ', 'ป', 'ด', '#', 'ห', '้', 'า']
ศ ู น ย ์ # แ ป ด # ห น ึ ่ ง # แ ป ด # ส ี ่ # แ ป ด # ห ้ า
Done! Check the output file

## word

In [109]:
file_path = '/Users/got/Documents/retune/t+im/dent/label.csv'

In [110]:
df = pd.read_csv(file_path)
df

         File ID                                              Label
0            1_1  missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1            1_2  missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2            1_3  missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3            1_4  crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4            1_5  crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...          ...                                                ...
9732  TS4-48_cl3  distal buccal buccal distal buccal buccal ling...
9733  TS4-49_cl0  lingual buccal ถึง buccal mesial buccal distal...
9734  TS4-49_cl1  lingual buccal ถึง buccal mesial buccal distal...
9735  TS4-49_cl2  lingual buccal ถึง buccal mesial buccal distal...
9736  TS4-49_cl3  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 2 columns]

In [111]:
df.drop(columns=['File ID'], inplace=True)

### gen

In [75]:
def gen_type1(command):
  comm = [command]
  quad = ['1', '2', '3', '4']
  idx_to_word = {'1': 'หนึ่ง', '2':'สอง', '3':'สาม', '4':'สี่', '5':'ห้า', '6':'หก', '7': 'เจ็ด','8':'แปด'}
  for i in quad:
    for j in range(8):
      x = random.random()
      if x >= 0.9:
        if i in ['1', '3']:
          comm.append(idx_to_word[i])
          comm.append(idx_to_word[str(8-j)])
        else:
          comm.append(idx_to_word[i])
          comm.append(idx_to_word[str(1+j)])
  return ' '.join(comm)

In [89]:
def gen_bridge():
  # comm = ['บริดจ์']
  comm = ['bridge']
  width = random.choices(range(1,4), weights=[1,3,1], k=1)[0]
  num_list12 = ['18', '17', '16', '15', '14', '13', '12', '11',
          '21', '22', '23', '24', '25', '26', '27']
  num_list34 = ['38', '37', '36', '35', '34', '33', '32', '31',
          '41', '42', '43', '44', '45', '46', '47']
  idx_to_word = {
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง สาม', '24': 'สอง สี่', '25': 'สอง ห้า', '26': 'สอง หก', '27': 'สอง เจ็ด', '28': 'สอง แปด',
      '38': 'สาม แปด', '37': 'สาม เจ็ด', '36': 'สาม หก', '35': 'สาม ห้า', '34': 'สาม สี่', '33': 'สาม สาม', '32': 'สาม สอง', '31': 'สาม หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ สาม', '44': 'สี่ สี่', '45': 'สี่ ห้า', '46': 'สี่ หก', '47': 'สี่ เจ็ด', '48': 'สี่ แปด'
  }
  x = random.randint(0,1)
  if x==0:
    num_list = num_list12
  else:
    num_list = num_list34
  first_index = random.randint(0,14)
  first = num_list[first_index]
  comm.append(idx_to_word[first])
  comm.append('ถึง')
  last_index = first_index + width
  if(last_index>14):
    if(x==0):
      # last = '28'
      comm.append('สอง')
      comm.append('แปด')
    else:
      # last = '48'
      comm.append('สี่')
      comm.append('แปด')
  else:
    last = num_list[last_index]
    comm.append(idx_to_word[last])
  return ' '.join(comm)

In [79]:
def gen_pdre(posFirst):
  # comm = ['พีดีอาร์อี']
  comm = ['pdre']
  # posFirst = random.random()

  isQ12 = random.random()
  pos = random.randint(0,15)
  posUp = ['18', '17', '16', '15', '14', '13', '12', '11',
          '21', '22', '23', '24', '25', '26', '27', '28']

  posDown = ['38', '37', '36', '35', '34', '33', '32', '31',
          '41', '42', '43', '44', '45', '46', '47', '48']
  idx_to_word = {
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง แปด', '24': 'สอง สี่', '25': 'สอง ห้า', '26': 'สอง หก', '27': 'สอง เจ็ด', '28': 'สอง แปด',
      '38': 'สาม แปด', '37': 'สาม เจ็ด', '36': 'สาม หก', '35': 'สาม ห้า', '34': 'สาม สี่', '33': 'สาม สาม', '32': 'สาม สอง', '31': 'สาม หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ สาม', '44': 'สี่ สี่', '45': 'สี่ ห้า', '46': 'สี่ หก', '47': 'สี่ เจ็ด', '48': 'สี่ แปด',
      '0': 'ศูนย์', '1': 'หนึ่ง', '2':'สอง', '3':'สาม', '4':'สี่', '5':'ห้า', '6':'หก', '7': 'เจ็ด','8':'แปด', '9': 'เก้า', '10': '',
      '-1': 'ลบหนึ่ง', '-2': 'ลบสอง', '-3': 'ลบสาม', '-4': 'ลบสี่', '-5': 'ลบห้า'

  }
  # sideList = ['buccal', 'lingual']
  # buccal = ['บัคคัล', 'บัคคอล']
  # lingual = ['ลิงกั้ว']
  # side = random.random()
  # sideList = ['บัคคัล', 'บัคคอล', 'ลิงกั้ว']
  sideList = ['buccal', 'lingual']
  side = random.randint(0,1)

  # PD_val = [0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 7, 8, 9]
  # RE_val = [-5, -4, -3, -3, -2, -2, -2, -1, -1, -1, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5]
  if pos == 15:
    nvalue = random.randint(3, 6)
  else:
    nvalue = random.randint(3, 10)

  if posFirst > 0.5:
      if isQ12 > 0.5:
        zee = posUp[pos]
        comm.append(idx_to_word[zee])
      else:
        zee = posDown[pos]
        comm.append(idx_to_word[zee])
      comm.append(sideList[side])

  else:
    comm.append(sideList[side])
    if isQ12 > 0.5:
      zee = posUp[pos]
      comm.append(idx_to_word[zee])
    else:
      zee = posDown[pos]
      comm.append(idx_to_word[zee])

  for i in range(nvalue):
    if i%2 == 0:
      value = str(random.choices([i for i in range(1,10)], weights = [10, 10, 10, 5, 5, 5, 2, 1, 1])[0])
      comm.append(idx_to_word[value])
    else:
      value = str(random.choices([i for i in range(-5,6)], weights = [2, 2, 5, 10, 10, 10, 10, 10, 5, 2, 2])[0])
      comm.append(idx_to_word[value])
      # comm.append('|')

  return ' '.join(comm)

In [87]:
def gen_pdre(posFirst):
  # comm = ['พีดีอาร์อี']
  comm = ['pdre']
  # posFirst = random.random()

  isQ12 = random.random()
  pos = random.randint(0,15)
  posUp = ['18', '17', '16', '15', '14', '13', '12', '11',
          '21', '22', '23', '24', '25', '26', '27', '28']

  posDown = ['38', '37', '36', '35', '34', '33', '32', '31',
          '41', '42', '43', '44', '45', '46', '47', '48']
  idx_to_word = {
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง แปด', '24': 'สอง สี่', '25': 'สอง ห้า', '26': 'สอง หก', '27': 'สอง เจ็ด', '28': 'สอง แปด',
      '38': 'สาม แปด', '37': 'สาม เจ็ด', '36': 'สาม หก', '35': 'สาม ห้า', '34': 'สาม สี่', '33': 'สาม สาม', '32': 'สาม สอง', '31': 'สาม หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ สาม', '44': 'สี่ สี่', '45': 'สี่ ห้า', '46': 'สี่ หก', '47': 'สี่ เจ็ด', '48': 'สี่ แปด',
      '0': 'ศูนย์', '1': 'หนึ่ง', '2':'สอง', '3':'สาม', '4':'สี่', '5':'ห้า', '6':'หก', '7': 'เจ็ด','8':'แปด', '9': 'เก้า', '10': '',
      '-1': 'ลบหนึ่ง', '-2': 'ลบสอง', '-3': 'ลบสาม', '-4': 'ลบสี่', '-5': 'ลบห้า'

  }
  # sideList = ['buccal', 'lingual']
  # buccal = ['บัคคัล', 'บัคคอล']
  # lingual = ['ลิงกั้ว']
  # side = random.random()
  # sideList = ['บัคคัล', 'บัคคอล', 'ลิงกั้ว']
  sideList = ['buccal', 'lingual']
  side = random.randint(0,1)

  # PD_val = [0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 7, 8, 9]
  # RE_val = [-5, -4, -3, -3, -2, -2, -2, -1, -1, -1, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5]
  if pos == 15:
    nvalue = random.randint(3, 6)
  else:
    nvalue = random.randint(3, 10)

  if posFirst > 0.5:
      if isQ12 > 0.5:
        zee = posUp[pos]
        comm.append(idx_to_word[zee])
      else:
        zee = posDown[pos]
        comm.append(idx_to_word[zee])
      comm.append(sideList[side])

  else:
    comm.append(sideList[side])
    if isQ12 > 0.5:
      zee = posUp[pos]
      comm.append(idx_to_word[zee])
    else:
      zee = posDown[pos]
      comm.append(idx_to_word[zee])

  for i in range(nvalue):
    if i%2 == 0:
      value = str(random.choices([i for i in range(1,10)], weights = [8, 8, 8, 5, 5, 5, 3, 3, 3])[0])
      comm.append(idx_to_word[value])
    else:
      value = str(random.choices([i for i in range(-5,6)], weights = [2, 2, 5, 8, 8, 8, 8, 8, 8, 5, 5])[0])
      comm.append(idx_to_word[value])
      # comm.append('|')

  return ' '.join(comm)

In [86]:
def gen_type3(cmd_posFirst):
  if cmd_posFirst[0] == 'pd':
    # comm = ['โพลบบิ้งเดพท์']
    comm = ['probingdepth']
  elif cmd_posFirst[0] == 're':
    # comm = ['รีเส็ตชั่น']
    comm = ['recession']
  posFirst = cmd_posFirst[1]

  isQ12 = random.random()
  pos = random.randint(0,15)
  posUp = ['18', '17', '16', '15', '14', '13', '12', '11',
          '21', '22', '23', '24', '25', '26', '27', '28']
  posDown = ['38', '37', '36', '35', '34', '33', '32', '31',
          '41', '42', '43', '44', '45', '46', '47', '48']

  idx_to_word = {
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง แปด', '24': 'สอง สี่', '25': 'สอง ห้า', '26': 'สอง หก', '27': 'สอง เจ็ด', '28': 'สอง แปด',
      '38': 'สาม แปด', '37': 'สาม เจ็ด', '36': 'สาม หก', '35': 'สาม ห้า', '34': 'สาม สี่', '33': 'สาม สาม', '32': 'สาม สอง', '31': 'สาม หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ สาม', '44': 'สี่ สี่', '45': 'สี่ ห้า', '46': 'สี่ หก', '47': 'สี่ เจ็ด', '48': 'สี่ แปด',
      '0': 'ศูนย์', '1': 'หนึ่ง', '2':'สอง', '3':'สาม', '4':'สี่', '5':'ห้า', '6':'หก', '7': 'เจ็ด','8':'แปด', '9': 'เก้า', '10': '',
      '-1': 'ลบหนึ่ง', '-2': 'ลบสอง', '-3': 'ลบสาม', '-4': 'ลบสี่', '-5': 'ลบห้า'
  }

  # sideList = ['บัคคัล', 'บัคคอล', 'ลิงกั้ว']
  sideList = ['buccal', 'lingual']
  side = random.randint(0,1)

  if pos >= 14:
    nvalue = random.randint(3, 3*(16-pos))
  else:
    nvalue = random.randint(3, 9)

  if posFirst > 0.5:
      if isQ12 > 0.5:
        zee = posUp[pos]
        comm.append(idx_to_word[zee])
      else:
        zee = posDown[pos]
        comm.append(idx_to_word[zee])
      comm.append(sideList[side])

  else:
    comm.append(sideList[side])
    if isQ12 > 0.5:
      zee = posUp[pos]
      comm.append(idx_to_word[zee])
    else:
      zee = posDown[pos]
      comm.append(idx_to_word[zee])

  for i in range(nvalue):
    if cmd_posFirst[0] == 'pd':
      value = str(random.choices([i for i in range(1,10)], weights = [8, 8, 8, 5, 5, 5, 3, 3, 3])[0])
      comm.append(idx_to_word[value])
    elif cmd_posFirst[0] == 're':
      value = str(random.choices([i for i in range(-5,6)], weights = [2, 2, 5, 8, 8, 8, 8, 8, 8, 5, 5])[0])
      comm.append(idx_to_word[value])
    # if i%3 == 2:
    #   comm.append('|')

  return ' '.join(comm)

In [93]:
def gen_mgj():
    excluded_values = [19, 20, 29, 30, 39, 40]
    idx_to_word = {
        '1': 'หนึ่ง', '2':'สอง', '3':'สาม', '4':'สี่', '5':'ห้า', '6':'หก', '7': 'เจ็ด','8':'แปด', '9' : 'เก้า', '10':'สิบ',
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง แปด', '24': 'สอง แปด', '25': 'สอง แปด', '26': 'สอง แปด', '27': 'สอง แปด', '28': 'สอง แปด',
      '38': 'หนึ่ง แปด', '37': 'หนึ่ง แปด', '36': 'หนึ่ง แปด', '35': 'หนึ่ง แปด', '34': 'หนึ่ง แปด', '33': 'หนึ่ง แปด', '32': 'หนึ่ง สอง', '31': 'หนึ่ง หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ แปด', '44': 'สี่ สี่', '45': 'หนึ่ง แปด', '46': 'หนึ่ง แปด', '47': 'หนึ่ง แปด', '48': 'หนึ่ง แปด'
      }
    possible_values = [x for x in range(11, 49) if x not in excluded_values]
    x = random.choice(possible_values)
    y = random.choices(range(4, 14), weights=[5, 5, 10, 15, 15, 15, 10, 5, 5, 5])[0]
    numbers = []
    if 41 <= x <= 48:
        for _ in range(49 - x):
            rand_num = random.choices(range(1, 10), weights=[8, 8, 8, 5, 3, 2, 1, 1, 1])[0]
            numbers.append(idx_to_word[str(rand_num)])
    else :
        for _ in range(y):
            rand_num = random.choices(range(1, 10), weights=[8, 8, 8, 5, 3, 2, 1, 1, 1])[0]
            numbers.append(idx_to_word[str(rand_num)])

    result = "mgj " + idx_to_word[str(x)]  + " " + " ".join(numbers)

    return result

In [90]:
import random
def gen_bop_sup_1(command):
  comm = [command]
  quad = ['1', '2', '3', '4']
  idx_to_word = {
      '18': 'หนึ่ง แปด', '17': 'หนึ่ง เจ็ด', '16': 'หนึ่ง หก', '15': 'หนึ่ง ห้า', '14': 'หนึ่ง สี่', '13': 'หนึ่ง สาม', '12': 'หนึ่ง สอง', '11': 'หนึ่ง หนึ่ง',
      '21': 'สอง หนึ่ง', '22': 'สอง สอง', '23': 'สอง สาม', '24': 'สอง สี่', '25': 'สอง ห้า', '26': 'สอง หก', '27': 'สอง เจ็ด', '28': 'สอง แปด',
      '38': 'สาม แปด', '37': 'สาม เจ็ด', '36': 'สาม หก', '35': 'สาม ห้า', '34': 'สาม สี่', '33': 'สาม สาม', '32': 'สาม สอง', '31': 'สาม หนึ่ง',
      '41': 'สี่ หนึ่ง', '42': 'สี่ สอง', '43': 'สี่ สาม', '44': 'สี่ สี่', '45': 'สี่ ห้า', '46': 'สี่ หก', '47': 'สี่ เจ็ด', '48': 'สี่ แปด'
  }
  # buccal = ['บัคคอล', 'บัคคัล']
  side = random.randint(0,1)
  if(side == 0):
    # comm.append(random.choice(buccal))
    comm.append('buccal')
  else:
    # comm.append('ลิงกั้ว')
    comm.append('lingual')
# comm.append('|')
  for i in quad:
    for j in range(8):
      x = random.random()
      if x >= 0.9:
        y1 = random.randint(0,1)
        y2 = random.randint(0,1)
        y3 = random.randint(0,1)
        if y1==y2==y3==0:
          continue
        if i in ['1', '3']:
          comm.append(idx_to_word[str(i+str(8-j))])
        else:
          comm.append(idx_to_word[str(i+str(1+j))])
        tmp=[]
        if y1==y2==y3==1:
          tmp.append('ทั้งหมด')
        else:
          if(y1==1):
            # tmp.append('ดิสทัล')
            tmp.append('distal')
          if(y2==1):
            if(side == 0):
              # tmp.append(random.choice(buccal))
              tmp.append('buccal')
            else:
              # tmp.append('ลิงกั้ว')
              tmp.append('lingual')
          if(y3==1):
            # tmp.append('มีเสี้ยว')
            tmp.append('mesial')
        random.shuffle(tmp)
        comm+=tmp
        # comm.append('|')
  return ' '.join(comm)

In [91]:
def gen_mo(comm):
  comm = [comm]
  # quad = ['1', '2', '3', '4']
  quad = ['หนึ่ง', 'สอง', 'สาม', 'สี่']
  pos = ['หนึ่ง', 'สอง', 'สาม', 'สี่', 'ห้า', 'หก', 'เจ็ด', 'แปด']
  # pos = ['18', '17', '16', '15', '14', '13', '12', '11',
  #         '21', '22', '23', '24', '25', '26', '27', '28',
  #         '38', '37', '36', '35', '34', '33', '32', '31',
  #         '41', '42', '43', '44', '45', '46', '47', '48']
  for i in quad:
    for j in range(8):
      x = random.random()
      if x >= 0.9:
        if i in ['หนึ่ง', 'สาม']:
          # comm.append(i+str(8-j))
          comm.append(i)
          comm.append(pos[7-j])
          comm.append(quad[random.randint(0,2)])
          # comm.append('|')
        else:
          # comm.append(i+str(1+j))
          comm.append(i)
          comm.append(pos[j])
          comm.append(quad[random.randint(0,2)])
          # comm.append('|')
  if len(comm) == 1:
    # comm.append(random.sample(pos,1)[0])
    comm.append(random.sample(quad, 1)[0])
    comm.append(random.sample(pos, 1)[0])
    comm.append(quad[random.randint(0,2)])
    # comm.append(str(random.randint(1,3)))
    # comm.append('|')
  return ' '.join(comm)

In [92]:
def gen_fur():
  # comm = ['เฟอร์เคชั่น']
  comm = ['furcation']
  quad = ['หนึ่ง', 'สอง', 'สาม', 'สี่']
  # side = ['บัคคอล', 'ลิงกั้ว', 'มีเสี้ยว', 'ดิสทัล']
  side = ['buccal', 'lingual', 'mesial', 'distal']
  pos = ['หนึ่ง', 'สอง', 'สาม', 'สี่', 'ห้า', 'หก', 'เจ็ด', 'แปด']
  # pos = ['18', '17', '16', '15', '14', '13', '12', '11',
  #         '21', '22', '23', '24', '25', '26', '27', '28',
  #         '38', '37', '36', '35', '34', '33', '32', '31',
  #         '41', '42', '43', '44', '45', '46', '47', '48']
  ntooth = 0

  for i in quad:
    if ntooth == 3:
      break
    for j in range(8):
      x = random.random()
      if ntooth == 3:
        break
      if x >= 0.9:
        if i in ['หนึ่ง', 'สาม']:
          # comm.append(i+str(8-j))
          comm.append(i)
          comm.append(pos[7-j])
          ntooth += 1
          nside = random.randint(1,4)
          for s in random.sample(side, nside):
            # if s == 'บัคคอล':
            #   rx = random.randint(0,1)
            #   if rx == 1:
            #     s = 'บัคคัล'
            comm.append(s)
            # comm.append(str(random.randint(1,3)))
            comm.append(quad[random.randint(0,2)])
          # comm.append('|')
        else:
          # comm.append(i+str(1+j))
          comm.append(i)
          comm.append(pos[j])
          ntooth += 1
          nside = random.randint(1,4)
          for s in random.sample(side, nside):
            # if s == 'บัคคอล':
            #   rx = random.randint(0,1)
            #   if rx == 1:
            #     s = 'บัคคัล'
            comm.append(s)
            # comm.append(str(random.randint(1,3)))
            comm.append(quad[random.randint(0,2)])
          # comm.append('|')
  if len(comm) == 1:
    # comm.append(random.sample(pos,1)[0])
    comm.append(random.sample(quad,1)[0])
    comm.append(random.sample(pos,1)[0])
    nside = random.randint(1,4)
    for s in random.sample(side, nside):
      # if s == 'บัคคอล':
      #   rx = random.randint(0,1)
      #   if rx == 1:
      #     s = 'บัคคัล'
      comm.append(s)
      # comm.append(str(random.randint(1,3)))
      comm.append(quad[random.randint(0,2)])
    # comm.append('|')
  return ' '.join(comm)

In [101]:
def gen_undo(no_number=True) :
    numbers = ['ศูนย์' ,'หนึ่ง' ,'สอง', 'สาม', 'สี่', 'ห้า' ,'หก' ,'เจ็ด', 'แปด', 'เก้า', 'undo']
    comm = ['undo']
    if(no_number) :
        return 'undo'
    else :
        k = random.randint(7,12)
        comm += random.choices(numbers, k=k)
        return ' '.join(comm)

In [103]:
def gen_commands():
    commands = ['implant', 'mgj', 'pdre', 'undo', 'probingdepth', 'bleeding', 'crown', 'recession', 'mobility', 'bridge', 'missing', 'suppuration', 'furcation']
    k = random.randint(8,11)
    return ' '.join(random.choices(commands, k=k))

In [105]:
def gen_sides():
    quad = ['หนึ่ง', 'สอง', 'สาม', 'สี่']
    side = ['buccal', 'lingual', 'mesial', 'distal']
    pos = ['หนึ่ง', 'สอง', 'สาม', 'สี่', 'ห้า', 'หก', 'เจ็ด', 'แปด']
    comm = []
    for i in range(random.randint(5,9)) :
        if i%2 == 0:
            comm.append(random.choice(quad))
            comm.append(random.choice(pos))
        else :
            k = random.randint(1,2)
            comm += random.sample(side, k=k)
    return ' '.join(comm)

In [106]:
df

                                                  Label
0     missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1     missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2     missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3     crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4     crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                 ...
9732  distal buccal buccal distal buccal buccal ling...
9733  lingual buccal ถึง buccal mesial buccal distal...
9734  lingual buccal ถึง buccal mesial buccal distal...
9735  lingual buccal ถึง buccal mesial buccal distal...
9736  lingual buccal ถึง buccal mesial buccal distal...

[9737 rows x 1 columns]

### create text file

In [133]:
add_list = []
for _ in range(1000) :
    add_list.append(gen_type1('missing'))
    add_list.append(gen_type1('crown'))
    add_list.append(gen_type1('implant'))
    add_list.append(gen_type1('implant'))
    add_list.append(gen_bridge())
    add_list.append(gen_pdre(0))
    add_list.append(gen_pdre(1))
    add_list.append(gen_type3(['pd', 0]))
    add_list.append(gen_type3(['pd', 1]))
    add_list.append(gen_type3(['pd', 0]))
    add_list.append(gen_type3(['pd', 1]))
    add_list.append(gen_type3(['re', 0]))
    add_list.append(gen_type3(['re', 1]))
    add_list.append(gen_mgj())
    add_list.append(gen_bop_sup_1('bleeding'))
    add_list.append(gen_bop_sup_1('suppuration'))
    add_list.append(gen_bop_sup_1('suppuration'))
    add_list.append(gen_mo('mobility'))
    add_list.append(gen_mo('mobility'))
    add_list.append(gen_fur())
    add_list.append(gen_undo(True))
    add_list.append(gen_undo(False))
    add_list.append(gen_commands())
    add_list.append(gen_sides())
    add_list.append(gen_sides())

In [134]:
df1 = pd.DataFrame({'Label' : add_list})
df = pd.concat([df, df1], ignore_index=True)
df

                                                    Label
0       missing หนึ่ง เจ็ด หนึ่ง ห้า หนึ่ง สี่ หนึ่ง ส...
1       missing หนึ่ง หก หนึ่ง สาม สอง หนึ่ง สอง เจ็ด ...
2       missing หนึ่ง หก หนึ่ง สาม หนึ่ง หนึ่ง สอง สาม...
3       crown หนึ่ง เจ็ด สอง หนึ่ง สอง สาม สอง ห้า สอง...
4       crown หนึ่ง เจ็ด หนึ่ง สี่ หนึ่ง สอง หนึ่ง หนึ...
...                                                   ...
309732                                               undo
309733              undo สอง เจ็ด หก ห้า สอง สี่ เจ็ด สาม
309734  bleeding implant recession bridge pdre missing...
309735  สาม สี่ buccal distal สาม ห้า distal mesial หน...
309736  หนึ่ง ห้า lingual distal สาม เจ็ด buccal dista...

[309737 rows x 1 columns]

In [135]:
labels = df['Label']
labels

print('first')
for f in first:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('second')
for f in second:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('third')
for f in third:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

    print(f'{f} count = {count}')
print('---------------')
print('forth')
for f in forth:
    count = 0
    for label in labels:
        for word in label.split():
            if word == f:
                count += 1

first
implant count = 34801
pdre count = 35079
furcation count = 22787
suppuration count = 34704
mobility count = 34693
---------------
second
ศูนย์ count = 36093
หนึ่ง count = 423835
สอง count = 418572
สาม count = 399351
สี่ count = 301441
buccal count = 140208
mesial count = 94490
distal count = 94947
lingual count = 139182
---------------
third
undo count = 47302
---------------
forth
ห้า count = 150787
หก count = 126349
เจ็ด count = 108726
แปด count = 117973
เก้า count = 35143
---------------

In [136]:
df.to_csv('/Users/got/Documents/retune/t+im/dent/label3.csv', index=False)

In [137]:
labels = df['Label']

output_file_path = '/Users/got/Documents/retune/t+im/dent/word-level-formatted.txt'

with  open(output_file_path, 'w') as file:
    for _ in range(10): 
        for label in labels:
            file.write(str(label) + " " + "\n")
print("Done! Check the output file")

Done! Check the output file